.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .heroes li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .heroes .text {
    position: relative;
    top: -3px;
  }

.heroes-list {
    background-color: lightgrey;
    float: left;
    position: relative;
    border-color: lightslategray;
    border-style: ridge;
    margin: 2px;
}

.heroes-detail {
  margin: 2px;
  float: right;
  width: auto;
}

.type {
  border-style: solid;
  border-color:  purple;
  border-width: 2px;
  padding: 5px;
}

.icon {
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
  margin: 2px; 
  padding: 2.5px;
  border-color: black;
  border-style: ridge;
  border-width: 2px;
}

.heroes-desc {
  margin: 2px;
  /* float: center; */
  /* width: auto; */
  border-width: 2px;
  border-style: solid;
  border-color: red;
}

.attribute {
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
  margin: 2px; 
  padding: 2.5px;
  border-width: 2px;
  border-color: green;
  border-style: solid;
}